.panel  > .col-lg-12 {
    margin-top: 20px;
}

.form-group label.danger {
	color: red;
}

.form-group label.success {
	color: green;
}

#statform {
    padding: 20px;
    float: left;
    width: 100%;
    margin-bottom: 40px;
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #cacaca;
}